<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="URL" value="https://uat-platform.authenticateis.com/Account/Logon"/>
    <add key ="TestDataSheetPath" value="C:\Users\Karen.Southwick\source\repos\March2018\March2018\Tests\TestDataAccess\TestData.xlsx"/>
  </appSettings>
</configuration>